# Arquivos de Log e Sistema
*.log
.DS_Store
Thumbs.db

# Dependências do Node.js (A pasta que você não quer subir!)
/node_modules
/functions/node_modules

# Arquivos do Firebase
.firebase/
firebase-debug.log
.vercel
