# Dependências do Node.js
# Ignora a pasta de módulos da sua API (Cloud Functions)
/functions/node_modules

# Ignora a pasta de módulos da sua API antiga
/api/node_modules

# Arquivos de Log e Sistema
*.log
npm-debug.log
yarn-error.log
firebase-debug.log

# Arquivos de cache e emuladores do Firebase
# Isso é importante para não enviar cache para o Git
.firebase/
.firebaserc.local

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db